* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/background.jpg");
  background-size: cover;
}

.container {
  width: 65%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  border-radius: 15px;
  padding: 80px 100px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.logo {
  width: 250px;
}

.title {
  color: #00dd00;
  font-size: 30px;
}

.nav {
  background-color: #00dd00;
  width: 100%;
  height: 50px;
  padding-top: 12px;
}

.user {
  text-align: left;
  color: white;
  font-size: 25px;
  margin-top: 30px;
}

.user > span {
  margin-left: 3px;
}

.place {
  font-size: 15px;
  font-weight: normal;
}

.arrow:before{
  content: "\21A6";
}

.battery {
  height: 30px;
  border-radius: 5px;
}

.medium {
  background-color: #F5B453;
  width: 390px;
}

.high {
  background-color: #1EC31E;
  width: 620px;
}

.low {
  background-color: #BE4141;
  width: 150px;
}
